<!DOCTYPE html>
<html>

<head>
  <title>Create Employee</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    
    <% if ( message) { %>
    <div class="flash">
      <%= message %>
    </div>
    <% } %>
    <h1>Create New Employee</h1>

    <form action="/" method="post">
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td><input type="text" name="name" value="<%= employee ? employee.name : ''; %>" /></td>
          </tr>
          <tr>
            <td>Position</td>
            <td><input type="text" name="designation" value="<%= employee ? employee.designation : ''; %>" /></td>
          </tr>
          <tr>
            <td>Email Id</td>
            <td><input type="text" name="emailID" value="<%= employee ? employee.emailID : ''; %>" /></td>
          </tr>
          <tr>
            <td>Age</td>
            <td><input type="number" name="age" value="<%= employee ? employee.age : ''; %>" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Save</button>
              <h3><a href="/">Back to List</a></h3>
            </td>
          </tr>
        </tbody>
      </table>
    </form>


  </div>
</body>

</html>